// navigation menu
.nav-menu
	position:fixed
	z-index: 70
	padding: 0
	margin-top:10px
	height: 40px
	width: 100%
	text-align: center
.nav-li 
	margin: -2px 
	margin-top: 0
	display:inline-block
	background: $color-transblue
	+mq($until: desktop) // sets the width and the margins on mobile 
		width: 20%
		margin: -2%  -1.7px 0 -1.7px

	&.active
		background: $color-transblue-light
		a
			color: $color-transblue-darker
	&:hover
		background: rgba(2,101,255, 0.35)
		a
			color: $color-transblue-light
	a  // this is the GLYPHICON
		text-decoration:none
		padding: 1em 3em
		display:block
		font-size: 1.6em
		color: $color-white
		+mq($until: tablet) // centers and enlarges glyphicons on mobile
			font-size: 3em
			padding: 1em
.nav-li-first // these two shape the first and the last of the nav bar border
	border-top-left-radius: 10px
	border-bottom-left-radius: 10px
	+mq($until: tablet)// removes the round borders of the nav menu
		border-top-left-radius: 0
		border-bottom-left-radius: 0
.nav-li-last
	border-top-right-radius: 10px
	border-bottom-right-radius: 10px
	+mq($until: tablet)// removes the round borders of the nav menu
		border-top-right-radius: 0
		border-bottom-right-radius: 0
