# the first two lines is a workaround for extra js files compiled during gulp.task
gulpfile.js

/**/coffee/*.js

# keep sensitive data out of the repo
**/**/creds.js

# no need to track image files
**/img/*.jpg

# no need to track node modules
/**/node_modules/**/

#this showed up after I moved everything but node_modules then ran npm install
npm-debug.log

