/* line 6, D:/js practice/a Website/practice-05/src/styles/00_custom.sass */
#s1 {
  background-image: url('../img/bg1.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }

/* line 8, D:/js practice/a Website/practice-05/src/styles/00_custom.sass */
#s2 {
  background-image: url('../img/bg2.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }

/* line 10, D:/js practice/a Website/practice-05/src/styles/00_custom.sass */
#s3 {
  background-image: url('../img/bg3.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }

/* line 12, D:/js practice/a Website/practice-05/src/styles/00_custom.sass */
#s4 {
  background-image: url('../img/bg4.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }
