// ABOUT PAGE

// // section 2
.about-transbox // semi-transparent bg on about page
	padding: 1em
	margin-top: 20%

.about-text
	color: white
	text-shadow: 1px 1px 2px gray
	background: $color-transblue
	border-radius: 10px
	font: 27px $Helvetica // I went with pixels instead of ems because it looked better on both desktop and mobile.

.about-tag
	text-align: center
	letter-spacing: 10px
	font-family: "Abril Fatface", serif

#ul-box
	font-family: $Helvetica
