// section 2
.about-transbox // semi-transparent bg on about page
	padding: 1em
	margin-top: 20%

.about-text
	background: rgba(215, 235, 255, 0.5)
	box-shadow: 0 0 65px 1px
	color: #303B62
	font-size: 1.8em
	font-weight: 600	
	border-radius: 10px
.about-tag
	text-align: center
	letter-spacing: 10px